body {
  font-size: 16px;
  background-color: bisque;
}

.card {
  border: 1px solid #000000;
  margin: 40px;
  padding: 10px;
  border-radius: 25px;
  background-color: whitesmoke;
}

.card-title {
  font-size: 1.5rem;
}

.delete-button {
  background-color: #000000;
  color: bisque;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1rem;
  border: none;
  border-radius: 25px;
}
